body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./images/bike.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: center;
  display: flex;
}
#content {
  
  margin: 20px auto;
}
#content ul li{
  list-style: none;
}
#content ul li a{
  text-decoration: none;
}
